.slider__container-center {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}
.slider {
  width: 100%;
  max-width: 37.5em;
  aspect-ratio: 1.4;
  overflow: hidden;
  position: relative;
}
.slider__btn {
  position: absolute;
  width: 1.8em;
  aspect-ratio: 1;
  background-color: #f85555;
  border-radius: 50%;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  top: 50%;
  transform: translate(0, 50%);
  z-index: 1;
}
.slider__next {
  right: 0;
}
.slider__movable {
  width: 300%;
  display: flex;
  height: 100%;
  transition: transform 500ms ease;
  transform: translateX(calc(-0/3 * 100%));
}
.slider__container-img {
  width: calc(100%/3);
  height: 100%;
  padding: 2em;
}
.slider__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider__footer {
  width: 100%;
  max-width: 10em;
  aspect-ratio: 1.4;
  position: relative;
  height: 100%;
}
.slider__footer-img {
  width: 100%;
  height: 100%;
  padding: 1.5em;
  cursor: pointer;
}
.slider__footer-imgs {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .slider__container-center {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  .slider__footer {
    width: 100%;
    max-width: 10em;
    aspect-ratio: 1.4;
    position: relative;
    height: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
  }
  .slider__footer-img {
    width: 100%;
    height: 100%;
    padding: 1.5em;
    cursor: pointer;
  }
  .slider__footer-imgs {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}